<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miste.one">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MisteOne"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".bottomnav.home.RazorpayPaymentActivity"
            android:exported="true" />
        <activity
            android:name=".bottomnav.home.PaymentSucessActivity"
            android:exported="true" />
        <activity
            android:name=".bottomnav.home.PaymentAmountActivity"
            android:exported="true" />
        <activity
            android:name=".bottomnav.home.TopUpActivity"
            android:exported="true" />
        <activity
            android:name=".bottomnav.home.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".bottomnav.home.QrCodeScanActivity"
            android:exported="true" />
        <activity android:name="ir.shahabazimi.instagrampicker.gallery.SelectActivity"

            android:exported="true"/>
        <activity android:name="ir.shahabazimi.instagrampicker.filter.FilterActivity"
            android:exported="true"/>
        <activity android:name="ir.shahabazimi.instagrampicker.gallery.MultiSelectActivity"
            android:exported="true"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bottomnav.profile.EditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bottomnav.profile.BookingsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bottomnav.profile.WalletActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bottomnav.profile.RefernEarnActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bottomnav.profile.RedeemRewardsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bottomnav.profile.AboutusActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bottomnav.profile.SupportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startup.OtpVerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".startup.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>